@{
    ViewBag.Title = "Mensaje";
}

<h2>Resultado</h2>

<div class="alert alert-info">
    @ViewBag.Mensaje
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver al inicio</a>


